@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding:0;
	font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #44514A;
	border: 0;
	vertical-align: baseline;
	letter-spacing: 1px;
}
body {
	background-color: #FFF;
}
html {
   overflow-y: scroll;
}


/* FONTS */

@font-face {
    font-family: 'MuseoSlabRegular';
    src: url('fonts/museoslab_500-webfont.eot');
    src: url('fonts/museoslab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museoslab_500-webfont.woff') format('woff'),
         url('fonts/museoslab_500-webfont.ttf') format('truetype'),
         url('fonts/museoslab_500-webfont.svg#MuseoSlab500Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'VAGRoundedBold';
    src: url('fonts/vag_rounded_bold-webfont.eot');
    src: url('fonts/vag_rounded_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/vag_rounded_bold-webfont.woff') format('woff'),
         url('fonts/vag_rounded_bold-webfont.ttf') format('truetype'),
         url('fonts/vag_rounded_bold-webfont.svg#VAGRoundedBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'VAGRoundedRegular';
    src: url('fonts/vag_rounded_light-webfont.eot');
    src: url('fonts/vag_rounded_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/vag_rounded_light-webfont.woff') format('woff'),
         url('fonts/vag_rounded_light-webfont.ttf') format('truetype'),
         url('fonts/vag_rounded_light-webfont.svg#VAGRoundedRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

a {
	text-decoration: none;
}
p, p a, ul, li {
	font-family: 'MuseoSlabRegular', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 1px;
}
p, p a {
	padding-bottom: 20px;
}
p a {
	color: #02AED9;
}
h1, .qcard_text h3 {
	font-family: 'VAGRoundedBold', Helvetica, Arial, sans-serif;
	font-size: 30px;
	font-weight: normal;
	text-decoration: none;
	padding-bottom: 5px;
	text-transform: uppercase;
	letter-spacing: 1.75px;
}
h2 {
	font-family: 'VAGRoundedBold', Helvetica, Arial, sans-serif;
	color: #FFF;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	padding-bottom: 1.5px;
	text-transform: uppercase;
	letter-spacing: 1.77px;
}
#main_nav a, #main_nav > h2 {
	display: inline-block;
	zoom: 1; /* ie7 fix */
	*display: inline; 
	margin-left: 34px;
	color: #A6B4AC;
}
#main_nav a:hover h2 {
	color: #A5D9CA;
}
h3 {
	font-family: 'VAGRoundedBold', Helvetica, Arial, sans-serif;
	font-size: 60px;
	font-weight: normal;
	text-decoration: none;
	padding-bottom: 24px;
	text-transform: uppercase;
	letter-spacing: 2px;
    line-height: 0.95em;
}
#quri_logo_large h3 {
	margin-left: 106px;
	color: #A5D9CA;
}
h4 {
	font-family: 'MuseoSlabRegular', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #02AED9;
	text-decoration: none;
	padding-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.25em;
}
h4.landing {
	font-family: 'VAGRoundedBold', Helvetica, Arial, sans-serif;
	font-size: 38px;
	color: #44514A;
	padding-bottom: 20px;
	letter-spacing: 2px;
    line-height: 1.2em;
	padding-top: 148px;
	text-transform: none;
}
.small_text_block p {
	font-family: 'VAGRoundedRegular', Helvetica, Arial, sans-serif;
	font-size: 13px;
}
.small_text_block h4 {
	font-family: 'VAGRoundedBold', Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color: #02AED9;
	text-transform: uppercase;
	padding-bottom: 1px;
}
#slideshow h4 {
	font-family: 'VAGRoundedBold', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #02AED9;
	text-transform: uppercase;
	text-align: center;
	padding: 0;
}
.benefits_text_box p {
	font-family: 'VAGRoundedBold', Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}
h5 {
	font-family: 'VAGRoundedBold', Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: #02AED9;
	text-transform: uppercase;
	padding-bottom: 1px;
}
h6 {
	font-family: 'MuseoSlabRegular', Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 1px;
	line-height: 1.25em;
}
#about_the_team p, #about_the_team p a {
	font-size: 10px;
	padding-bottom: 10px;
}
#about_the_team p a {
	color: #02AED9;
}
#investor_text h5 {
	font-size: 12px;
	padding-bottom: 10px;
}
.press_text p, .press_hover_text p {
	font-family: 'VAGRoundedBold', Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 7px 0 0;
}
.press_hover_text p {
	color: #FFF;
	padding-top: 12px;
}
#footer p, #footer p a {
	font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	letter-spacing: 1px;
	padding: 0;
	text-transform: uppercase;
}
#footer p.email a, #footer p.rights {
	text-transform: none;
}
input.holderText, textarea {
	font-family: 'Trebuchet MS', Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-weight: normal;
	font-style: italic;
	letter-spacing: 1px;
}
.submit_btn {
	font-family: 'VAGRoundedBold', Helvetica, Arial, sans-serif;
	font-size: 10px;
	font-weight: normal;
	letter-spacing: 2px;
}

/* LAYOUT */

#wrapper {
	position: relative;
	width: 100%;
}
#header {
	height: 50px;
	width: 100%;
	background-color: #44514A;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
}
body.careers #header {
	position: relative;
}
.nav_box {
	width: 1005px;
	height: 50px;
	display: block;
	margin: 0 auto;
}
#logo {
	width: 74px;
	height: 32px;
	display: block;
	margin: 9px 0;
	float: left;
}
#main_nav {
	float: right;
	margin: 20px 40px 0;
}

.logo_block {
	width: 100%;
	height: 100px;
	background-color: #D9E2DB;	
}
.logo_wrap {
	width: 1005px;
	margin: 0 auto;
	padding-top: 28px;
}
.customer_quote {
	float: left;
	width: 550px;
}
.customer_quote h5 {
	color: #44514A;
}
.customer_logos {
	float: right;
	text-align: center;
}
.customer_logos img {
	display: inline-block;
	margin: 0 22px;
	vertical-align: middle;
}
.customer_logos p {
	font-family: 'VAGRoundedBold', Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	margin-top: 15px;
}
#home_box, #benefits_box {
	width: 1005px;
	min-height: 660px;
	margin: 0 auto;
}
#qcard_box {
	padding: 10px 0 30px;
	clear: both;
	width: 912px;
	margin: 0 auto;
}
#qcard_box img {
	border: #44514A solid thin;
	float: left;
}
.qcard_text {
	float: left;
	width: 416px;
	margin: 46px 0 0 78px;
}
.qcard_2 .qcard_text {
	margin: 46px 78px 0 0;
}
.qcard_4 .qcard_text {
	width: 620px;
	margin: 26px 0 0 0;
}
.left_side {
	float: left;
}
.right_side {
	float: right;
	width: 604px;
}
#quri_logo_large {
	margin: 210px 0 36px;
}
.text_block {
	width: 358px;
}
.text_block h5 {
	text-transform: none;
	line-height: 1.4em;
}
.value_props {
	margin-bottom: 24px;
}
.small_text_block {
	width: 280px;
	display: block;
	margin-right: 22px;
	float: left;
}
.demo_btn, .learn_btn {
	width: 130px;
	height: 22px;
	display: block;
	float: left;
	text-align: center;
	border-radius: 5px;
	padding-top: 8px;
	margin: 14px 16px 0 0;
}
.demo_btn {
	background-color: #02AED9;
}
.learn_btn {
	background-color: #D9E2DB;
}
.learn_btn h2 {
	color: #44514A;
}
.demo_btn:hover, .learn_btn:hover {
	background-color: #44514A;
}
.learn_btn:hover h2 {
	color: #fff;
}
#slideshow {
	background-image: url(images/monitor.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	width: 554px;
	height: 500px;
	display: block;
	margin: 128px 0 0;
	padding: 24px;
}
#slide_buttons {
	margin: 40px auto 0;
    width: 88px;
}
#slide_buttons a {
	width: 10px;
	height: 10px;
	display: block;
	background-image: url(images/slideshow_button.png);
	background-repeat: no-repeat;
	background-position: top left;
	float: left;
	margin: 8px 6px 10px;
}
#slide_buttons a:hover {
	background-position: top right;
}
#slides {
	width: 552px;
	height: 302px;
	overflow: hidden;
	background-color: #44514A;
	position: relative;
}
#allSlides {
	width: 2216px;
	height: 340px;
	overflow: hidden;
	position: relative;
}
#allSlides img {
	float: left;
	width: 554px;
	height: 340px;
}
#slide_titles {
	height: 22px;
	width: 550px;
	overflow: hidden;
	display: block;
}
	
.section_header {
	width: 330px;
	margin: 76px auto 60px;
	border-bottom: #44514A solid thin;
	text-align: center;
	clear: both;
}

.section_header_2 {
	width: 330px;
	padding-top: 36px;
	margin: 0 auto 16px;
	border-bottom: #44514A solid thin;
	text-align: center;
	clear: both;
}


.benefits_image {
	width: 450px;
	height: 302px;
	margin-right: 94px;
	float: left;
	position: relative;
}
.benefits_text {
	width: 422px;
	height: 302px;
	float: left;
}
.benefits_image img {
	float: right;
	border: #44514A solid thin;
}
.benefits_text_box {
	position: absolute;
	float: left;
	z-index: 10;
	background-color: #FFF;
	border: #44514A solid thin;
	padding: 7px 5px 4px 7px;
	text-align: left;
}
.benefits_text_box#text1 {
	top: 212px;
	left: 0;
}
.benefits_text_box#text2 {
	top: 285px;
	left: 436px;
}
.benefits_text_box#text3 {
	top: 265px;
	left: 750px;
}
.benefits_text_box#text4 {
	top: 620px;
	left: 274px;
}
.benefits_text_box#text5 {
	top: 508px;
	left: 732px;
}
.benefits_two, .benefits_three {
	position: relative;
	clear: both;
	text-align: center;
}
.benefits_two img {
	margin: 60px 0;
}
.benefits_two .benefits_text, .benefits_three .benefits_text {
	position: absolute;
	left: 0;
	z-index: 5;
	text-align: left;
}
.benefits_two .benefits_text {
	width: 265px;
	top: 110px;
}
.benefits_three .benefits_text {
	width: 356px;
	top: 70px;
}
.benefits_three img {
	float: right;
	margin: 0 108px 68px 0;
}
.benefits_text img {
	margin: 24px 0;
	float: left;
}

h3.qcard_title {
	width: 800px;
	margin: 0 auto;
	text-align: center;
}
.qcard_1, .qcard_2, .qcard_3 {
	margin: 60px 0;
}
.qcard_4 {
	margin: 60px auto;
	width: 620px;
}

#about_box {
	width: 100%;
	height: 1230px;
	display: block;
	background-color: #D9E2DB;
	clear: both;
}
body.careers #about_box {
	height: auto;
}
#about_box .section_header, #press_box .section_header {
	padding-top: 76px;
	margin: 0 auto 16px;
}
.subnav {
	margin: 0px auto 60px;
	text-align: center;
}
.subnav a h2 {
	color: #44514A;
	display: inline-block;
	zoom: 1; /* ie7 fix */
	*display: inline; 
	margin: 0 22px;
}
.subnav a:hover h2, .subnav a.active h2 {
	color: #02AED9;
}
#about_slider {
	width: 882px;
	height: 1022px;
	overflow: hidden;
	margin: 0 auto;
}
.about_section {
	width: 882px;
	height: 500px;
	display: block;
	float: left;
}
body.careers .about_section {
	float: none;
	margin: 0 auto;
	height: auto;
}
#about_quri {
	width: 636px;
	margin: 66px auto 0;
	text-align: center;
}
#about_quri img {
	margin-bottom: 16px;
}
#about_quri p {
	text-align: left;
	font-size: 20px;
	line-height: 1.3em;
}
#team_all {
	float: left;
	width: 614px;
}
.team_box {
    background-color: #FFF;
    border-radius: 7px;
    float: left;
	width: 248px;
    height: 82px;
    margin: 0 39px 15px 0;
    padding: 10px;
}
.team_box.smaller {
	padding: 8px;
	width: 252px;
	height: 54px;
}
.investor_box {
    border: #FFF solid thin;
    border-radius: 7px;
    float: left;
	width: 236px;
    height: 80px;
    margin-bottom: 15px;
    padding: 14px;
}
#about_the_team img {
	float: left;
	padding-right: 10px;
}
#about_the_team .smaller img {
	width: 54px;
}
.team_title {
	float: left;
	width: 139px;
	margin-bottom: 23px;
}
#investor_text {
	float: left;
	width: 264px;
	height: 110px;
	margin-bottom: 15px;
}

.careers_intro {
	float: left;
	width: 268px;
	height: 466px;
}
body.careers .careers_intro {
	width: 575px;
	height: auto;
	float: right;
}
body.careers .careers_block {
	margin: 0 0 15px 0;
	clear: both;
	height: auto;
}
.careers_block h2 {
	color: #44514A;
	padding-bottom: 20px;
}
.careers_block a:hover h2, .careers_block p a:hover {
	color: #02AED9;
}
.careers_block {
	float: left;
	width: 232px;
	height: 216px;
	margin: 0 0 15px 39px;
	border-radius: 7px;
	text-align: center;
	padding: 0 18px;
}
.career_icon {
	width: 80px;
	height: 70px;
	margin: 20px auto 14px;
}
.careers_block h4 {
	padding-bottom: 6px;
}
.careers_block p, .career_info_block p, .careers_block p a {
	font-size: 12px;
	line-height: 1.4em;
	color: #44514A;
}
.career_info_block {
	float: left;
	width: 268px;
	margin-right: 39px;
}
.career_info_block.last {
	margin: 0;
}
.career_info_block h4 {
	padding-bottom: 8px;
	text-transform: none;
}
.career_info_image {
	width: 238px;
	height: 138px;
	padding: 15px;
	background-color: #fff;
	border-radius: 7px;
	margin-bottom: 14px;
}
.info_blocks {
	float: left;
	clear: both;
	width: 882px;	
}
#about_careers a:hover .careers_block {
	background-color: #fff;
}
#about_careers h5 {
	padding-bottom: 20px;
	font-size: 40px;
	text-transform: none;
}


#press_box {
	width: 1005px;
	margin: 0 auto;
}
#press_section {
    width: 988px;
	margin: 60px auto;
}
#press_section li {
	list-style: none;
	width: 390px;
	margin: 0 50px 30px;
	float: left;
}
#press_section li a:hover .press_date, #press_section li a:hover .press_title {
	color: #02AED9;
}
.press_logo {
	float: left;
	width: 86px;
	height: 52px;
	display: block;
	overflow: hidden;
	margin-right: 15px;
}
.press_date {
	font-family: 'MuseoSlabRegular', Helvetica, Arial, sans-serif;
	font-weight: normal;
	letter-spacing: 1px;
	line-height: 1.25em;
	font-size: 13px;
}
.press_title {
	font-family: 'MuseoSlabRegular', Helvetica, Arial, sans-serif;
	font-weight: normal;
	letter-spacing: 1px;
	line-height: 1.25em;
	font-size: 16px;
	height: 40px;
	overflow: hidden;
}
.release .press_title {
	height: 60px;
}
.press_btns {
	background-color: #FFFFFF;
	border: #44514A solid 1px;
	border-radius: 7px 7px 7px 7px;
    float: left;
	width: 240px;
    height: 117px;
    margin: 0 19px 15px;
	overflow: hidden;
	position: relative;
}
.press_btns img.dark {
	border-radius: 5px 5px 0 0;
}
.press_btns img {
	margin: 0;
	padding: 0;
	border-bottom: #44514A solid 1px;
	border-radius: 8px 8px 0 0;
}
.press_text {
	width: 240px;
	height: 31px;
	display: block;
	text-align: center;
}
.press_hover {
	width: 240px;
    height: 117px;
	background-color: rgba(0, 175, 219, 0.4);
	border-radius: 7px 7px 7px 7px;
	position: absolute;
	bottom: 0;
	left: 0;
	display: none;
}
.press_hover_text {
	width: 240px;
	height: 35px;
	display: block;
	text-align: center;
	margin-top: 82px;
	background-color: #44514A;
	border-radius: 0 0 5px 5px;
}

#contact_box {
	background-color: #02AED9;
	width: 100%;
	height: 574px;
	margin: 0 auto;
}
#hire_quri {
	width: 100%;
	height: 109px;
	margin: 0 auto;
	padding: 78px 0;
	text-align: center;
}
#contact_submission {
	width: 740px;
	height: 262px;
	display: block;
	background-color: #FFF;
	border: #44514A solid thin;
	margin: 0 auto;
	position: relative;
}
.text_boxes {
	float: left;
	width: 262px;
}
input[type="text"] {
	width: 248px;
	height: 26px;
	margin: 20px 20px 0;
	padding-left: 12px;
	border: #44514A solid thin;
}
ul.mktLblLeft input[type="text"] {
	margin: 5px 20px 15px;
}
ul.mktLblLeft textarea {
	margin: 5px 0 0 40px;
}
ul.mktLblLeft .submit_btn {
	bottom: 21px;
}
textarea {
	padding: 15px;
	width: 385px;
	height: 188px;
	float: left;
	margin: 20px 0 0 40px;
	border: #44514A solid thin;
}
.submit_btn {
	border: #44514A solid thin;
	width: 85px;
	height: 25px;
	background-color: #02AED9;
	color: #FFF;
	position: absolute;
	bottom: 22px;
	right: 21px;
	z-index: 10;
	cursor: pointer;
}

#footer {
	width: 100%;
	height: 275px;
	background-color: #44514A;
	clear: both;
}
.footer_links {
	/* [disabled]height: 190px; */
	margin: 0 auto;
	padding-top: 42px;
	width: 740px;
	text-align: center;
}
.footer_links p, .footer_links p a {
	color: #FDF059;
	display: inline-block;
	zoom: 1; /* ie7 fix */
	*display: inline; 
}
.footer_links p {
	margin: 0 16px;
}
#social_buttons {
	clear: both;
}
#social_buttons p {
	margin: 52px auto 14px;
	color: #A6B4AC;
	font-size: 10px;
	float: none;
}
#s_buttons_box {
	width: 66px;
	height: 27px;
	margin: 0 auto 16px;
}
#facebook_btn {
	float: left;
}
#twitter_btn {
	float: right;
}
.push {
	height: 126px;
}

.thankyou_message {
	position: absolute;
	z-index: 100;
	width: 740px;
	height: 262px;
	display: block;
	background-color: #FFF;
	margin: 0 auto;
	display: none;
}
body.demo .thankyou_message {
	position: static;
	width: 402px;
	height: auto;
	float: right;
}
body.demo .thankyou_message p {
	margin: 20px 0 0 20px;
}
.thankyou_text {
	width: 260px;
	height: 218px;;
	margin: 20px 0 0 20px;
	border: #44514A solid thin;
	float: left;
}
.thankyou_press {
	width: 315px;
	height: 162px;
	float: right;
	margin: 20px 20px 0 0;
	border: #44514A solid thin;
	padding: 56px 50px 0;
}
.thankyou_text h5 {
	font-size: 30px;
	text-align: center;
	padding: 40px 20px 0;
}
.thankyou_press p {
	font-size: 13px;
	float: left;
}
.thankyou_press a.press_btn {
	background: url(images/press_icon.jpg) no-repeat;
	width: 41px;
	height: 41px;
	display: block;
	float: left;
	margin-right: 18px;
}

.innerWrapper .contentOuter {
	background: none;
}
.contentOuter h2 a {
	font-size: 24px;
	font-family: 'VAGRoundedBold', Helvetica, Arial, sans-serif;
}
.contentOuter strong {
	font-size: 17px;	
}
.innerWrapper .contentOuter .btmBg {
	background: none;
}
body.careers #header {
	position: relative;
}
body.careers .contentOuter hgroup {
	margin-top: 0;
}
body.careers ul {
	margin-left: 20px;
	padding-bottom: 16px;
}
body.careers li {
	margin: 1px 0;
}
.noPadd {
	padding: 0;
}
.clear {
	clear: both;
}
.job {
	float: right;
	width: 575px;
	margin-bottom: 30px;
}
.bumper {
	height: 30px;
	width: 30px;
	display: block;
}
.career_left_column {
	float: left;
	width: 532px;
}
.career_quote {
	width: 222px;
	float: left;
	margin: 70px 10px 20px;
	background-color: #fff;
	font-size: 11px;
	font-family: 'MuseoSlabRegular', Helvetica, Arial, sans-serif;
	border-radius: 14px;
	padding: 12px;
	line-height: 1.3em;
}

span.name {
	float: right;
	font-size: 12px;
	font-family: 'MuseoSlabRegular', Helvetica, Arial, sans-serif;
}
body.careers .page_nav {
	clear: both;
}
body.careers .page_nav .careers_block {
	float: left;
	clear: none;
	padding: 0;
	width: 220px;
	margin-bottom: 30px;
}
body.contact #contact_box, body.demo #contact_box {
	background-color: #fff;
}
body.demo .submit_btn {
	border: none;
	position: static;
	clear: both;
	float: left;
	margin: 20px 20px 0;
}
body.demo #contact_submission {
	border: none;
	width: 402px;
	float: right;
}
body.demo input[type="text"] {
	width: 368px;
}
body.demo h5, body.demo h1 {
	margin: 20px 0 0 20px;
}

.all_c_blocks {
	clear: both;
}
body.careers .all_c_blocks .careers_block {
	float: left;
	clear: none;
	margin: 0 0 50px 0;
}
body.careers {
	background-color: #D9E2DB;
}
body.careers .about_section {
	width: 1072px;
}
body.careers .careers_intro, .job_description {
	width: 480px;
	float: left;
	margin-bottom: 30px;
	margin-left: 50px;
}
body.careers .careers_intro p, body.careers .careers_intro li {
	font-size: 12px;
}
body.careers  h5 {
	padding-bottom: 16px;
}
body.careers  a:hover {
	color: #02AED9;
}
.careers_block p:first-of-type {
	height: 66px;
}
.demo_info {
	float: left;
}
.demo_info p {
	width: 350px;
	margin: 0 auto;
}


body.qcard_page h1 {
	text-transform: none;
	margin: 0;
	letter-spacing: 1.6px;
}
body.qcard_page h5 {
	text-transform: none;
	margin: 0 0 10px;
}
body.qcard_page h4 {
	padding-top: 0;
	padding-bottom: 10px;
	font-family: 'VAGRoundedBold', Helvetica, Arial, sans-serif;
	font-size: 38px;
	color: #44514A;
	letter-spacing: 2px;
	text-transform: none
}
h5.darker {
	color: #44514A;
}
.qcard {
	width: 400px;
	margin: -12px auto 20px;
}
.problem_section {
	position: absolute;
	top: 310px;
	width: 100%;
	background-color: #D9E1DA;
}
.problem_inner {
	width: 1005px;
	margin: 26px auto 6px;
}
.qcard_quote {
	float: right;
	border: thin #435049 solid;
	width: 345px;
	padding: 20px;
	font-family: 'VAGRoundedBold', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin-top: 30px;
}
.problem_section p, .problem_section h4 {
	float: left;
	width: 570px;
}
.solution_section {
	margin-top: 325px;
}
.solution_left {
	float: left;
	width: 360px;
}
.solution_right {
	float: right;
}
.qcard_small {
	margin: 8px 0 16px;
}
.qcard_small img {
	width: 190px;
}
.benefits_section {
	margin-top: 48px;
	clear: both;
}
.benefits_left {
	float: left;
	margin-bottom: 48px;
}
.benefits_right {
	float: right;
	margin: 60px 120px 0 0;
}
body.qcard_page .demo_btn, body.qcard_page .learn_btn {
	float: none;	
}
body.qcard_page .benefits_section #contact_submission {
	border: #44514A solid thin;
	width: 350px;
	height: 300px;
	padding: 15px;
	margin-bottom: 60px;
}
body.qcard_page .benefits_section input[type="text"] {
	margin: 10px 0 5px;
	width: 336px;
}
body.qcard_page .benefits_section .submit_btn {
	width: 85px;
	margin: 10px 0 5px;
}
body.qcard_page .benefits_section .thankyou_message {
	margin: 28px 0 0 0;
	width: 350px;
}
body.qcard_page p strong {
	font-family: 'VAGRoundedBold', Helvetica, Arial, sans-serif;
	font-size: 17px;
}

form li {
	list-style: none;
}
	


	

@media only screen and (max-device-width: 480px) {
	.footer_links {
		width: 525px;
	}
}
