@charset "UTF-8";

/* CSS Document */

body { background: #44514a; font-family: Arial, Helvetica, sans-serif; font-size:16px; color:#404040; }
*{ margin:0; padding:0; list-style-type:none; }
img, fieldset { border:0; float:left; outline:none; }
a { outline:none; border:none; cursor: pointer; }
a{ color:#00add8; text-decoration:none; }
a:hover{ color:#a5d9ca; text-decoration:none; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-style:normal }


/***** wrappers *****/

.outerWrapper { width:979px; margin:0 auto; height:auto; display: block; }
.innerWrapper { float: left; width: 979px; height: auto; padding: 45px 0 45px 0; }


/*** content ***/
.contentOuter { float: left; width: 100%; height: auto; background: url(../images/repeatbar_979x10.png) repeat-y left top; }
	.contentOuter a { color: #00add8; text-decoration: none; }
	.contentOuter a:hover{ color:#a5d9ca; text-decoration:none; }
	.contentOuter .topBg { float: left; width: 100%; height: auto; background: url(../images/topbar_979x17.png) no-repeat left top; padding: 20px 0 0 0; }
	.contentOuter .btmBg { float: left; width: 653px; height: auto; background: url(../images/bottombar_979x17.png) no-repeat left bottom; padding: 0 163px 45px 163px; }
  .contentOuter hgroup { float: left; width: 100%; height: auto; margin-top: 35px; }
  .contentOuter h1 { float: left; width: 100%; height: 183px; background: url(../images/quri_logo_286x183.jpg) no-repeat center top; text-indent: -5000px; padding: 0 0 25px 0; }
  
  .contentOuter h2 { float: left; width: 100%; height: auto; font-size: 20px; font-weight: bold; color: #404040; text-align: center; padding: 0 0 15px 0; }
  .contentOuter h2 a { color: #404040; text-decoration: none; cursor:default; }
  .contentOuter h2 a:hover { color: #404040; text-decoration: none; cursor:default; }
  .contentOuter h3 { float: left; width: 100%; height: auto; font-size: 20px; color: #404040; text-align: center; padding: 0 0 25px 0; }
  .contentOuter p { float: left; width: 100%; height: auto; font-size: 15px; color: #404040; text-align: left; padding: 0 0 18px 0; }
  .contentOuter .noPadd { padding: 0px; }
  .contentOuter ul { float: left; width: 653px; height: auto; padding: 0 0 18px 0; }
  .contentOuter ul li { float: left; width: 614px; height: auto; font-size: 15px; background: url(../images/listbullet_3x3.png) no-repeat 13px 8px; padding: 0 0 2px 39px; }
  .sepr { float: left; width: 100%; height: 35px; border-top: 1px solid #ccc; margin: 30px 0 0 0; }
  .sepr02 { float: left; width: 100%; height: 15px; border-top: 1px solid #ccc; margin: 15px 0 0 0; }
  .contentOuter a.anchors { float: left; width: 100%; height: auto; background: url(../images/listbullet_3x3.png) no-repeat 0 8px; font-size: 15px; font-weight: bold; text-align: left; padding: 0 0 5px 15px; text-decoration: none; }
  .contentOuter a.anchors:hover { text-decoration: none; }

